@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 100%;
    max-width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span{
    font-weight: bolder;
    font-size: clamp(40px, 6vw, 60px);
}

.relogio span.tempo{
    font-size: 10px;
}

.calendario{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 100%;
    max-width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.calendario div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.calendario span{
    font-weight: bolder;
    font-size: clamp(40px, 6vw, 60px);
}

.calendario span.data{
    font-size: 10px;
}

@media (max-width: 600px){

    .relogio,
    .calendario{
        width: 100%;
        max-width: 350px;
        height: 140px;
    }

    .relogio div,
    .calendario div{
        width: 90px;
        height: 110px;
    }

    .relogio span,
    .calendario span{
        font-size: 35px;
    }

    .relogio span.tempo,
    .calendario span.data{
        font-size: 8px;
    }

}